@tailwind base;
@tailwind components;
@tailwind utilities;

.one:hover span:last-child {
    width: 100%;
}

.two:hover span {
    width: 50%;
}

.three:hover span {
    height: 100%;
}

/* table {
    border-collapse: collapse;
    display: flex;
    overflow: hidden;
    background: none;
    justify-content: center;
}

tr {
    display: block;
    float: left;
}

th,
td {
    display: block;
    border: 1px solid black;
} */

.horizontal-table table {
    border-collapse: collapse;
    display: flex;
    overflow: hidden;
    background: none;
    justify-content: center;
}

.horizontal-table tr {
    display: block;
    float: left;
}

.horizontal-table th,
.horizontal-table td {
    display: block;
    border: 1px solid black;
}